@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

body {
    animation: animatedGradient 10s infinite linear;
    background: linear-gradient(to right, rgb(1, 34, 101), rgb(211, 175, 55));
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {
    background-color: blue;
}

.stop {
    background-color: red;
}

button {
    margin-top: 20px;
    padding: 16px 32px;
    border: none;
    border-radius: 11px; 
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s; 
}


button:hover {
    background-color: rgb(21, 84, 21); 
}

video,
.output {
    display: none;
}